name: ParamSpider Telegram Workflow

on:
  workflow_dispatch:
    inputs:
      domain:
        description: "Target domain (e.g. example.com)"
        required: true

jobs:
  run-paramspider:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Clone ParamSpider and install dependencies
        run: |
          git clone https://github.com/devanshbatham/ParamSpider.git
          pip install requests urllib3

      - name: Run ParamSpider
        run: |
          cd ParamSpider
          python3 paramspider.py -d "${{ github.event.inputs.domain}}" -o output.txt

      - name: Send output to Telegram
        env:
          BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN}}
          CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID}}
        run: |
          curl -s -X POST "https://api.telegram.org/bot${BOT_TOKEN}/sendDocument" \
            -F chat_id=${CHAT_ID} \
            -F document=@"ParamSpider/output.txt"
